[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HKRbook"]
	path = HKRbook
	url = https://github.com/sigbertklinke/hkrbook
[submodule "abbreviate"]
	path = abbreviate
	url = https://github.com/sigbertklinke/abbreviate
[submodule "andrews"]
	path = andrews
	url = https://github.com/sigbertklinke/andrews
[submodule "demoShiny"]
	path = demoShiny
	url = https://github.com/sigbertklinke/demoshiny
[submodule "exams.forge"]
	path = exams.forge
	url = https://github.com/cran/exams.forge
[submodule "exams.forge.data"]
	path = exams.forge.data
	url = https://github.com/sigbertklinke/exams.forge.data
[submodule "listArray"]
	path = listArray
	url = https://github.com/cran/listArray
[submodule "mmstat4"]
	path = mmstat4
	url = https://github.com/sigbertklinke/mmstat4
[submodule "plot.matrix"]
	path = plot.matrix
	url = https://github.com/sigbertklinke/plot.matrix
[submodule "rmdwc"]
	path = rmdwc
	url = https://github.com/sigbertklinke/rmdwc
[submodule "rscc"]
	path = rscc
	url = https://github.com/sigbertklinke/rscc
[submodule "shinyDTC"]
	path = shinyDTC
	url = https://github.com/sigbertklinke/shinydtc
[submodule "smvgraph"]
	path = smvgraph
	url = https://github.com/sigbertklinke/smvgraph
[submodule "stranslate"]
	path = stranslate
	url = https://github.com/sigbertklinke/stranslate
